.site-footer {
    position: relative;
   
    padding: 1em;
    font-family: $font__mono;
    font-weight: 700;
    color: #fff;
    background-color: #000;
    text-align: center;
}

.pre-footer {
    position: relative;
    display: flex;
}

@media screen and (min-width: $query__medium) {
    .pre-footer {
        background-color: #fff;
        color: #000;
        display: flex;
        justify-content: space-between;
    }
    
    
    .pre-footer-branding {
        width: 50%;
        text-align: left;
        
        .custom-logo-link {
            margin-left: 1.25em;
            img {
                filter: invert(100%);
            }

            
        }
    }
    .pre-footer-social{
        width: 50%;
    }
}



.social-menu {
    ul{
        display: flex;
        
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

        a{
            display: block;
            padding: .5em 1em;
            color: #000;
            text-decoration: none;

            &:hover,
                &focus {
                    text-decoration: underline;
                }
                
        }

    }
}